@charset "UTF-8";

:root{
    --cor1: #000000;
    --cor2: #3d2645;
    --cor3: #832161;
    --cor4: #da4167;
    --cor5: #f0eff4;
}
*{
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}
body{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(200deg, #3d2645 30%, #832161, #da4167);
}

/* main{
    border: 4px solid red; 
} 
*/

main section.calc{
    width: 425px;
    border: 4px solid #121212; 
    background-color: #222;
    border-radius: 20px;
}
main section.calc section.visor{
    /* border: 4px solid yellow; */
    margin: 0px 0px 5px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 16px 16px 0px 0px;
    padding: 20px 20px 20px 20px;
    background-color: #333;
}
main section.calc section.visor section{
    border: 4px solid #da4167;
    background-color: #3d26458a;
    width: 100%;
    border-radius: 20px;
    padding: 20px 30px 90px 20px;
    text-align: right;
    height: 12.5vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main section.calc section.visor section span{
    display: block;
    color: #fff;
}
main section.calc section.visor section strong{
    color: #da4167;
    font-size: 1.1em;
}
main section.calc section.visor section span#conta{
    font-size: 1em;
}

main section.calc section.visor section span#res{
    font-weight: bolder;
    font-size: 2.25em;
    
}
main section.calc section.input{
    /* border: 4px solid orange; */
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    margin: 0px 20px;
}
main section.calc section.input button{
    border-radius: 20px;
    background-color: #333;
    border-style: none;
    color: #da4167;
    font-size: 1.5em;
    font-weight: bolder;
    border: 4px solid #171717;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section.calc section.input button:hover{
    cursor: pointer;
    background-color: #222;
    color: #ff0040;
    box-shadow: -1px 1px 4px #121212;
    transition:  color 0.3s, background-color 0.2s, box-shadow 0.2s;
}
main section.calc section.input button:active{
    background-color: #121212;
    box-shadow: -1px 1px 8px #121212;
}
footer{
    text-align: center;
    color: #fff;
    margin: 10px;
}


/*
Fonte: Google 2023

320px — 480px: dispositivos móveis.
481px — 768px: iPads, tablets.
769px — 1024px: telas pequenas, laptops.
1025px — 1200px: desktops, telas grandes.
1201px e acima — telas muito grandes, TVs.
*/