@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao+Looped:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans Lao Looped", sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #202020;
    display: flex;
    color: #fff;
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #3636366e;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(91, 91, 91);
    border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(129, 129, 129, 0.874);
}  

main{
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-type{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.c-type > section{
    display: flex;
    position: relative;
    align-items: center;
    gap: 15px;
    padding: 1.6vh; 
}

button{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    user-select: none;
}
button:hover{
    background-color: #373737;
}
button:active{
    background-color: #292929;
}

#menu-btn{
    padding: 7.5px;
    border-radius: 4px;
    z-index: 3;
}
#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 2px 2px 2px 2px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #45454599;
    background-color: #282828;
    width: 250px;
    z-index: 1;
    font-size: 14px;
    line-height: 1em;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.244)
}
#menu > section > div{
    height: 50px;
}
#menu > section > section.container{
    height: 85vh;
   
}
#menu h2{
    font-size: 14px;
    color: #ffffff8a;
    margin: 10px 10px;
    user-select: none;
}
a{
    text-decoration: none;
    color: #fff;
    user-select: none;
}
#menu a{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 10px 10px 14px;
    border-radius: 6px;
    margin: 4px 5px 0px 4px;
}
#menu a:hover{
    background-color: #363636;
}
#menu a.selecionada{
    background-color: #363636;
    border-left: 4px solid #db4b4b;
    padding-left: 10px;
    border-radius: 2px 6px 6px 2px;
}
#menu a.selecionada:hover{
    background-color: #363636a1;
}
#config{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #3B3B3B;
}
#config a{
    margin-bottom: 4px;
    width: 100%;
}

#hist-btn{
    display: none;
    padding: 7.5px;
    margin: 1.6vh;
    border-radius: 4px;
}


.visor{
    text-align: right;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    padding: 2vh 20px; 
}
.result{
    font-size: 4em;
    line-height: 1.25em;
}

.favs{
    padding: 5px 10px ;
}
.favs button{
    padding: 10px;
    border-radius: 4px;
}

.input{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 3px 15px 15px 15px;
    height: 68vh;
}

.input button{
    font-size: 1.5em;
    border-radius: 10px;
    font-weight: 200;
    background-color: #323232;
}
.input button:hover{
    background-color:#3B3B3B;
}
.input button:active{
    background-color: #323232;
}

.digit{
    background-color: #3B3B3B !important;
}
.digit:hover{
    background-color: #323232 !important;
}
.digit:active{
    background-color: #282828 !important;
}

#equal{
    background-color: #F57051 !important;
    color: #0E0E0E;
}
#equal:hover{
    background-color: #DE674B !important;
}
#equal:active{
    background-color: #C95F47 !important;
}







.as-type{
    display: flex;
    gap: 25px   ;
    padding: 20px;
}


.as-type a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.as-type a:hover{
    color: #ccc;    
}

.as-type a div{
    display: block;
    background-color: #db4b4b;
    height: 4px;
    width: 15px;
    border-radius: 50px;
}

.aside-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.aside-item{
    text-align: right;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#clean{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 7px 7.5px 7.5px 7.5px;
    border-radius: 4px;
}



aside{
    display: block;
    width: 350px;
    position: relative;
}


@media screen and (max-width: 555px){
    main{
        width: 100vw;
    }
    aside{
        display: none;
    }
    #hist-btn{
        display: flex;
    }
}
@media screen and (max-height: 888px){
    #menu > section > section.container{
        overflow-y: scroll; 
    }
    .input button{
        font-size: 1em;
        
    }
    .input{
        height: 50vh;
    }
}
@media screen and (max-height: 650px){
    
    #menu > section > section.container{
        height: 80vh;
    }

}
@media screen and (max-height: 600px){
    .visor{
        font-size: 1em;
    }
    .result{
        font-size: 3em;
        line-height: 0.75em;
    }

}
@media screen and (max-height: 500px){
    #menu > section > section.container{
        height: 75vh;
    }
}

